		h1, em, #information {
				display: block;
				font-size: 25px;
				font-weight: normal;
				margin: 2em auto;
			}

			p{
				margin:0;
			}

			a {
				color: #414142;
				font-style: normal;
				text-decoration: none;
				/*font-size: 20px;*/
			}
					
			a:hover {
				text-decoration: underline;
			}
					
			#container {
				margin: 50px auto;
				width:100%;
			}	
			.wrapper {
				display: inline-block;
				width: 320px;
				height: 250px;
				margin: 0px  10px 3px 10px;
                padding-top: 7px;
				cursor: pointer;
				position: relative;
				font-family: Tahoma, Arial;
				-webkit-perspective: 4000px;
				-moz-perspective: 4000px;
				-ms-perspective: 4000px;
				-o-perspective: 4000px;
				perspective: 4000px;
				/*border-image: url(../images/boderimage1.jpg) 10 round;*/	
			}
			.item {
				height: 230px;
				width: 300px;
				-webkit-transform-style: preserve-3d;
				-moz-transform-style: preserve-3d;
				-ms-transform-style: preserve-3d;
				-o-transform-style: preserve-3d;
				transform-style: preserve-3d;
				margin: 0 auto;
			}
		    @keyframes changedeg{
                0%{
                -webkit-transform:  rotateY(0deg);
				-moz-transform:  rotateY(0deg);
				-ms-transform:  rotateY(0deg);
				-o-transform:  rotateY(0deg);
				transform:  rotateY(0deg);
                }
                5%{
                -webkit-transform:  rotateY(90deg);
				-moz-transform:  rotateY(90deg);
				-ms-transform:  rotateY(90deg);
				-o-transform:  rotateY(90deg);
				transform:  rotateY(90deg);
                }
                30%{
                -webkit-transform:  rotateY(90deg);
				-moz-transform:  rotateY(90deg);
				-ms-transform:  rotateY(90deg);
				-o-transform:  rotateY(90deg);
				transform:  rotateY(90deg);
                }
                40%{
                -webkit-transform:  rotateY(90deg);
				-moz-transform:  rotateY(90deg);
				-ms-transform:  rotateY(90deg);
				-o-transform:  rotateY(90deg);
				transform:  rotateY(90deg);
                }
                50%{
                -webkit-transform:  rotateY(90deg);
				-moz-transform:  rotateY(90deg);
				-ms-transform:  rotateY(90deg);
				-o-transform:  rotateY(90deg);
				transform:  rotateY(90deg);
                }
                55%{
                -webkit-transform:  rotateY(180deg);
				-moz-transform:  rotateY(180deg);
				-ms-transform:  rotateY(180deg);
				-o-transform:  rotateY(180deg);
				transform:  rotateY(180deg);
                }
                60%{
                -webkit-transform:  rotateY(180deg);
				-moz-transform:  rotateY(180deg);
				-ms-transform:  rotateY(180deg);
				-o-transform:  rotateY(180deg);
				transform:  rotateY(180deg);
                }
                70%{
                -webkit-transform:  rotateY(180deg);
				-moz-transform:  rotateY(180deg);
				-ms-transform:  rotateY(180deg);
				-o-transform:  rotateY(180deg);
				transform:  rotateY(180deg);
                }
                80%{
                -webkit-transform:  rotateY(180deg);
				-moz-transform:  rotateY(180deg);
				-ms-transform:  rotateY(180deg);
				-o-transform:  rotateY(180deg);
				transform:  rotateY(180deg);
                }
                100%{
                -webkit-transform:  rotateY(180deg);
				-moz-transform:  rotateY(180deg);
				-ms-transform:  rotateY(180deg);
				-o-transform:  rotateY(180deg);
				transform:  rotateY(180deg);
                }
                }

			.item:hover {
				-webkit-animation: changedeg 10s ease-out .5s infinite;
			}

			.image-cafe{
				display: block;
				position: absolute;
				top: 0;
				border-radius: 3px;
			   -webkit-transform: translateZ(150px);
			   -moz-transform: translateZ(150px);
			   -ms-transform: translateZ(150px);
			   -o-transform: translateZ(150px);
				transform: translateZ(150px);
			   -webkit-transition: all .6s;
			   -moz-transition: all .6s;
			   -ms-transition: all .6s;
			   -o-transition: all .6s;
				transiti230 all .6s;
				width: 300px;
				height: 230px;
			 }			
			.information {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				height: 230px;
				width: 300px;
				border-radius: 15px;
				padding: 10px;
				font-size: 12px;
				background:rgb(179,214,110);
				-webkit-transform: rotateY(-90deg) translateZ(150px);
				-moz-transform: rotateY(-90deg) translateZ(150px);
				-ms-transform: rotateY(-90deg) translateZ(150px);
				-o-transform: rotateY(-90deg) translateZ(150px);
				transform: rotateY(-90deg) translateZ(150px);
				-webkit-transition: all .6s;
				-moz-transition: all .6s;
				-ms-transition: all .6s;
				-o-transition: all .6s;
				transition: all .6s;
				text-align: left;
			 }
            .location{
            	display: block;
				position: absolute;
				top: 0;
				left: 0;
				height: 230px;
				width: 300px;
				border-radius: 15px;
				padding: 10px;
				font-size: 12px;
				background:rgb(179,214,110);
				-webkit-transform:  translateZ(-150px) rotateY(180deg);
				-moz-transform: translateZ(-150px) rotateY(180deg);
				-ms-transform: translateZ(-150px) rotateY(180deg);
				-o-transform: translateZ(-150px) rotateY(180deg);
				transform: translateZ(-150px) rotateY(180deg);
				-webkit-transition: all .6s;
				-moz-transition: all .6s;
				-ms-transition: all .6s;
				-o-transition: all .6s;
				transition: all .6s;
				text-align: left;
            }
            .cafe1{
				background-image: url(../images/cafeteria/cafe1.jpg);
				background-size: cover;
			}
			.cafe2{
				background-image: url(../images/cafeteria/cafe2.jpg);
				background-size: cover;
			}
			.cafe3{
				background-image: url(../images/cafeteria/cafe3.jpg);
				background-size: cover;
			}
			.cafe4{
				background-image: url(../images/cafeteria/cafe4.jpg);
				background-size: cover;
			}
			.cafe5{
				background-image: url(../images/cafeteria/cafe5.jpg);
				background-size: cover;
			}
			.cafe6{
				background-image: url(../images/cafeteria/cafe6.jpg);
				background-size: cover;
			}
			.cafe7{
				background-image: url(../images/cafeteria/cafe7.jpg);
				background-size: cover;
			}
			.cafe8{
				background-image: url(../images/cafeteria/cafe8.jpg);
				background-size: cover;
			}
			.cafe9{
				background-image: url(../images/cafeteria/cafe9.jpg);
				background-size: cover;
			}
			.information strong {
				display: block;
				margin: .2em 0 .5em 0;
				font-size: 20px;
				font-family: "Oleo Script";
			  }
			.item:hover .image-cafe{
				box-shadow: none;
				border-radius: 15px;
			}

			.item:hover .information {
				box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
				border-radius: 3px;
			 }
			 .item:hover .location {
				box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
				border-radius: 3px;
			 }
			 .image-cafe>p{
			 	width: 100%;
			 	height: 35px;
			 	background-color: rgba(64,5,7,1);
			 	color:white;
			 	text-align: center;
			 	font-size: 22px;
			 	line-height: 35px;
			 	font-family: "楷体";
			 }
			 .title{
			 	width: 300px;
				height: 35px;
				margin-top: -9px;
				margin-left: -9px;
				color: #fff;
				line-height: 35px;
				font-size: 20px;
				text-align: center;
				background-color: rgb(95,92,51);
			 }
			.litter-title{
				color: #E4721E;
			}
			#container{
				text-align: center;
			}
			.later{
				-webkit-animation-delay: 0.4s;/*动画延迟*/
			}