
			h1, em, #information {
				display: block;
				font-size: 25px;
				font-weight: normal;
				margin: 2em auto;
			}

			a {
				color: #414142;
				font-style: normal;
				text-decoration: none;
				/*font-size: 20px;*/
			}
					
			a:hover {
				text-decoration: underline;
			}
					
			.wrapper {
				display: inline-block;
				width: 320px;
				height: 250px;
				vertical-align: top;
				margin: 0px  10px 3px 10px;
				cursor: pointer;
				padding-top: 7px;
				padding-left: 7px;
				position: relative;
				font-family: Tahoma, Arial;
				-webkit-perspective: 4000px;
				-moz-perspective: 4000px;
				-ms-perspective: 4000px;
				-o-perspective: 4000px;
				perspective: 4000px;
				/*border-image: url(../images/boderimage1.jpg) 10 round;*/
	
			}
			.later{
				-webkit-animation-delay: 0.5s;
			}

			.item {
				height: 230px;
				-webkit-transform-style: preserve-3d;
				-moz-transform-style: preserve-3d;
				-ms-transform-style: preserve-3d;
				-o-transform-style: preserve-3d;
				transform-style: preserve-3d;		
			}
		    @keyframes changedeg{
                0%{
                -webkit-transform:  rotateX(0deg);
				-moz-transform:  rotateX(0deg);
				-ms-transform:  rotateX(0deg);
				-o-transform:  rotateX(0deg);
				transform:  rotateX(0deg);
                }
                5%{
                -webkit-transform:  rotateX(90deg);
				-moz-transform:  rotateX(90deg);
				-ms-transform:  rotateX(90deg);
				-o-transform:  rotateX(90deg);
				transform:  rotateX(90deg);
                }
                30%{
                -webkit-transform:  rotateX(90deg);
				-moz-transform:  rotateX(90deg);
				-ms-transform:  rotateX(90deg);
				-o-transform:  rotateX(90deg);
				transform:  rotateX(90deg);
                }
                40%{
                -webkit-transform:  rotateX(90deg);
				-moz-transform:  rotateX(90deg);
				-ms-transform:  rotateX(90deg);
				-o-transform:  rotateX(90deg);
				transform:  rotateX(90deg);
                }
             /*   50%{
                -webkit-transform:  rotateX(90deg);
				-moz-transform:  rotateX(90deg);
				-ms-transform:  rotateX(90deg);
				-o-transform:  rotateX(90deg);
				transform:  rotateX(90deg);
                }*/
                45%{
                -webkit-transform:  rotateX(180deg);
				-moz-transform:  rotateX(180deg);
				-ms-transform:  rotateX(180deg);
				-o-transform:  rotateX(180deg);
				transform:  rotateX(180deg);
                }
                60%{
                -webkit-transform:  rotateX(180deg);
				-moz-transform:  rotateX(180deg);
				-ms-transform:  rotateX(180deg);
				-o-transform:  rotateX(180deg);
				transform:  rotateX(180deg);
                }
                70%{
                -webkit-transform:  rotateX(180deg);
				-moz-transform:  rotateX(180deg);
				-ms-transform:  rotateX(180deg);
				-o-transform:  rotateX(180deg);
				transform:  rotateX(180deg);
                }
                80%{
                -webkit-transform:  rotateX(180deg);
				-moz-transform:  rotateX(180deg);
				-ms-transform:  rotateX(180deg);
				-o-transform:  rotateX(180deg);
				transform:  rotateX(180deg);
                }
                100%{
                -webkit-transform:  rotateX(180deg);
				-moz-transform:  rotateX(180deg);
				-ms-transform:  rotateX(180deg);
				-o-transform:  rotateX(180deg);
				transform:  rotateX(180deg);
                }
                }

			.item:hover {
				-webkit-animation: changedeg 10s ease-out .5s infinite;
			}

			.image-hg{
				display: block;
				position: absolute;
				top: 0;
				border-radius: 3px;
				box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
			   -webkit-transform: translateZ(115px);
			   -moz-transform: translateZ(115px);
			   -ms-transform: translateZ(115px);
			   -o-transform: translateZ(115px);
				transform: translateZ(115px);
			   -webkit-transition: all .6s;
			   -moz-transition: all .6s;
			   -ms-transition: all .6s;
			   -o-transition: all .6s;
				transition: all .6s;
				width: 300px;
				height: 230px;
			 }			
			.information {
				display: block;
				position: absolute;
				top: 0;
				height: 230px;
				width: 300px;
				text-align: left;
				border-radius: 15px;
				padding: 10px;
				font-size: 12px;
				box-shadow: none;
				background:rgb(178,190,126);
				-webkit-transform: rotateX(-90deg) translateZ(115px);
				-moz-transform: rotateX(-90deg) translateZ(115px);
				-ms-transform: rotateX(-90deg) translateZ(115px);
				-o-transform: rotateX(-90deg) translateZ(115px);
				transform: rotateX(-90deg) translateZ(115px);
				-webkit-transition: all .6s;
				-moz-transition: all .6s;
				-ms-transition: all .6s;
				-o-transition: all .6s;
				transition: all .6s;
			 }
            .location{
            	display: block;
				position: absolute;
				top: 0;
				height: 230px;
				width: 300px;
				text-align: left;
				border-radius: 15px;
				padding: 10px;
				font-size: 12px;
				box-shadow: none;
				background:rgb(178,190,126);
				-webkit-transform:  translateZ(-115px) rotateX(180deg);
				-moz-transform: translateZ(-115px) rotateX(180deg);
				-ms-transform: translateZ(-115px) rotateX(180deg);
				-o-transform: translateZ(-115px) rotateX(180deg);
				transform: translateZ(-115px) rotateX(180deg);
				-webkit-transition: all .6s;
				-moz-transition: all .6s;
				-ms-transition: all .6s;
				-o-transition: all .6s;
				transition: all .6s;
            }
            .hg1{
				background-image: url(../images/huoguo/hg1.jpg);
				background-size: cover;
			}
			.hg2{
				background-image: url(../images/huoguo/hg2.jpg);
				background-size: cover;
			}
			.hg3{
				background-image: url(../images/huoguo/hg3.jpg);
				background-size: cover;
			}
			.hg4{
				background-image: url(../images/huoguo/hg4.jpg);
				background-size: cover;
			}
			.hg5{
				background-image: url(../images/huoguo/hg5.jpg);
				background-size: cover;
			}
			.hg6{
				background-image: url(../images/huoguo/hg6.jpg);
				background-size: cover;
			}
			.hg7{
				background-image: url(../images/huoguo/hg7.jpg);
				background-size: cover;
			}
			.hg8{
				background-image: url(../images/huoguo/hg8.jpg);
				background-size: cover;
			}
			.hg9{
				background-image: url(../images/huoguo/hg9.jpg);
				background-size: cover;
			}
			.information strong {
				display: block;
				margin: .2em 0 .5em 0;
				font-size: 20px;
				font-family: "Oleo Script";
			  }
			.item:hover .image-hg{
				box-shadow: none;
				border-radius: 15px;
			}

			.item:hover .information {
				box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
				border-radius: 3px;
			 }
			 .item:hover .location {
				box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
				border-radius: 3px;
			 }
			 .image-hg>p{
			 	width: 100%;
			 	height: 35px;
			 	background-color: rgba(64,5,7,1);
			 	color:white;
			 	text-align: center;
			 	font-size: 22px;
			 	line-height: 35px;
			 	font-family: "楷体";
		
			 }
			 .title{
			 	width: 300px;
			 	height: 35px;
			 	margin-top: -9px;
			    margin-left: -9px;
			 	color: #fff;
			 	line-height: 35px;
			 	font-size: 20px;
				text-align: center;
				background-color: rgb(217,104,49);
			 }

			.litter-title{
				color: #E4721E;
			}
			#container{
				text-align: center;
				margin: 50px auto;
				width:100%;
			}
			.navbar-header{
			  margin-left: 100px;
			}